{# templates/products/show.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Product {{ product.name }}</title>
    {% block stylesheets %}{% endblock %}
</head>
</html>

<div class="products">
        <div class="product-item">
            <p>{{ product.name }}</p>
            <p>{{ product.product_code }}</p>
            <p>{{ product.price|e }}</p>
        </div>
</div>
