{# templates/products/view.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
        {% block stylesheets %}
            <link href="/assets/css/styles.css" rel="stylesheet">
        {% endblock %}
    </head>
</html>

<div class="main">
    <div class="sort-btn">
        <a href="?sort_by=price&type=ASC">Sort by price</a>
        <a href="?sort_by=product_code&type=ASC">Sort by code</a>
        <a href="?lang_code={{ lang_code }}">{{ lang_code }}</a>
    </div>

    <div class="products">
        {% for product in products %}
            <div class="product-item">
                <a href="products/{{ product.id }}">{{ product.name }} ({{ product.product_code }}) -- {{ product.price|e }} Р</a>
            </div>
        {% endfor %}
    </div>
</div>
