body {
    background: #fff;
}

.products {
    margin: 5px 20px;
    border: black 1px solid;
    padding: 5px 20px;
}

.product-item {
    border: black 1px solid;
    padding: 15px;
    margin-bottom: 5px;
}